/* #root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.App {
  position: 'relative';
  min-width: '100vw';
  min-height: '100vh';
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.8);
  /* border-radius: 8px; */
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 8px; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #78f933 0%, #3fb300 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  /* border-radius: 100px; */
}
